.fourohfour {
  display: flex;
}

.fourohfour img {
  width: 100%;
}

.fourohfour div:first-of-type {
  width: 60%;
}

.fourohfour div:last-of-type {
  width: 40%;
}

.fourohfour a {
  font-weight: bold;
}

@media screen and (max-width: 500px) {
  .fourohfour {
    flex-direction: column;
  }

  .fourohfour div:first-of-type,
  .fourohfour div:last-of-type {
    width: 100%;
  }
}
