.calculator {
  background-color: white;
  color: black;
  padding: 1rem;
  margin: 1rem 0;
}

.calculator .button {
  margin: 15px;
}

.button:disabled {
  background-color: #a5817d;
}

input {
  display: block;
  margin: 1rem;
  padding: 1rem;
  width: 33%;
  color: black;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 500px) {
  input {
    width: 90%;
  }
}
