@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");

body {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  width: 95%;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  display: flex;
  margin-block-start: 0;
  padding-inline-start: 0;
}

li {
  margin: 0 1rem;
}

.menu li:first-child {
  margin-left: 0;
}

a {
  text-decoration: none;
}

a:visited {
  color: rgb(90, 35, 161);
}

strong {
  display: block;
  margin: 1rem;
}

input {
  display: block;
  margin: 1rem;
}

button {
  background-color: rgb(90, 35, 161);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  margin: 0 1rem;
}
